{% extends "layout.html" %}

{% set active_page = "commercial" %}

{% block title %}Commercial{% endblock %}

{% block heading %}Commercial{% endblock %}

{% block body %}

        <form action="/commercial">
          <select name="state"> <!-- add onchange="this.form.submit()" to submit/update the form when an option is selected.  Usefull for then displaying county options. -->
            {{ state_options }}
          </select>
          <br><br>
          
          <select name="year"> <!-- add onchange="this.form.submit()" to submit/update the form when an option is selected.  Usefull for then displaying county options. -->
            {{ year_options }}
          </select>
          <br><br>
          
          <input type="submit">
          
          </form>
          
          {{fuel}}

{% endblock %}