{% extends "layout.html" %}

{% set active_page = "expenditures" %}

{% block title %}US Fuel Expenditures{% endblock %}

{% block heading %}US Fuel Expenditures{% endblock %}

{% block body %}
    <script src="{{url_for('static',filename='canvasChart.js')}}" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            var dataDef = { title: "Expenditures by Year",
                            xLabel: 'Year', 
                            yLabel: 'Expenditures (millions)',
                            labelFont: '19pt Arial', 
                            dataPointFont: '10pt Arial',
                            renderTypes: [CanvasChart.renderType.lines, CanvasChart.renderType.points],
                            dataPoints: {{ dataPoints }}
                           };
            CanvasChart.render('canvas', dataDef);
        });

    </script>
	<canvas id="canvas" width="1000" height="600"></canvas>
{% endblock %}

<p>The following graph shows US fuel expenditures from the past centry.</p>