{% extends "layout.html" %}

{% set active_page = "intro" %}

{% block title %}About the Data{% endblock %}

{% block heading %}About the Energy Dataset{% endblock %}

{% block body %}

   <div id = "colorDIV"></div>
    
    <h1>Energy Dataset</h1>
    <p> The data set was used to analyze the amount of each fuel source (coal, distillate fuel oil, geothermal, hydropower, kerosene, petroleum, natural gas, solar, wind, and wood) 
    consumed by each US state from the years 1960-2019 in four sectors; industrial, commercial, residential, and transportation. 
	</p>
 
{% endblock %}